/* Contenedor principal */
.container {
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff00;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }  
  /* Fila de input */
  .input-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  /* Estilo para los inputs */
  .input {
    flex: 1;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #000;
    transition: border-color 0.3s;
  }
  
  .input:focus {
    outline: none;
    border-color: #000;
  }
  
  /* Botón para eliminar input */
  .remove-btn {
    background-color: transparent;
    border: none;
    color: #ff0000;
    cursor: pointer;
    margin-left: 8px;
    transition: transform 0.2s;
  }
  
  .remove-btn:hover {
    transform: scale(1.1);
  }
  
  .icon {
    width: 20px;
    height: 20px;
  }
  
  /* Botón para agregar input */
  .add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-btn:hover {
    background-color: #333;
  }
  
  .add-btn .icon {
    margin-right: 8px;
    width: 20px;
    height: 20px;
  }