/* HTML: <div class="loader"></div> */
.loader {
    width: 360px;
    height: 22px;
    border-radius: 20px;
    color: #e8e7ee;
    border: 2px solid;
    position: relative;
  }
  .loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: l6 2s infinite;
  }
  @keyframes l6 {
      100% {inset:0}
  }