.main-flex-container{
  display: flex;
  max-width: auto;
  margin-bottom: 50px;
  flex-direction: row;
  align-items: center;
  padding: 30px;
}
.pageView-container{
 width: auto;
  
}
.styleEditor-container {
  width:250px

}
.contentEditor-container {
  width:250px

}
.activism-platform-container{
  display:flex;
  align-items: center ;
  box-sizing: content-box;
}