
  .activism-platform-container {
    display: flex;
    min-height: 100vh;
    
  }
  .activism-form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .activism-form {
    /*  background-color: #ffffff;*/
      padding: 40px;
      border-radius: 8px;
      width: 100%;
      margin: auto;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    }

    .submit-button-container {
        margin-top: 20px;
      }
      .submit-button-container > button {
        margin-right: 10px; /* Add space between buttons */
      }

      .submit-button:hover {
        background-color: #0056b3;
      }
    .platform-button {
        border: none;
        padding: 18px 30px;
        border-radius: 10px;
        cursor: pointer;
        float: right;
        margin-top: 10px;
      }
      
      .platform-button-secondary {
        border: 1px solid #ccc; /* Example border */
        padding: 18px 30px;
        border-radius: 10px;
        cursor: pointer;
        float: right;
        margin-top: 10px;
        background-color: transparent; /* Example style */
        color: #333; /* Example text color */
      }